<section id="page">
    <app-message-panel *ngIf="errorMessage" level="error" [message]="errorMessage"></app-message-panel>
    <section class="toolbar-section">

        <input type="search" (input)="onSearchChange($event)" placeholder="Buscar productos..." />
        <button routerLink="/create">Agregar</button>

    </section>

    <section *ngIf="!isLoading" class="table-wrapper panel">
        <table class="center-text table">
            <thead>
                <tr class="header">
                    <th>
                        Logo
                    </th>
                    <th>
                        Nombre del producto
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha de liberación
                    </th>
                    <th>
                        Fecha de reestructuración
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of filteredProducts">
                    <td>
                        <img [src]="producto.logo" width="60" height="40" alt="Logo del producto" async />
                    </td>
                    <td>
                        <p>{{producto.name}}</p>
                    </td>
                    <td>
                        <p>{{producto.description}}</p>
                    </td>
                    <td>
                        <p>{{producto.date_release | date: formatoFecha}}</p>
                    </td>
                    <td>
                        <p>{{producto.date_revision | date: formatoFecha}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <section id="resultado">
            {{filteredProducts.length}} Resultado(s)
        </section>
    </section>
</section>

<app-loading *ngIf="isLoading">
</app-loading>