.toolbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .toolbar-section input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 250px;
  }
  .toolbar-section button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #e1da5d;
    color: white;
    cursor: pointer;
  }
  .toolbar-section button:hover {
    background-color: #f2ec70;
  }

.header {
    background-color: #f2f2f2;
}


.table-wrapper {
    width: 100%;
    overflow-x: auto; /* Hace la tabla scrollable horizontalmente */
  }
  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px; /* Asegura que la tabla tenga un ancho mínimo en pantallas pequeñas */
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  tfoot td {
    font-weight: bold;
    background-color: #f9f9f9;
    border: none;
  }

@media (max-width: 600px) {
    table, thead, tbody, tfoot, th, td, tr {
      display: block; 
    }
    thead tr {
      display: none;
    }
    tfoot tr {
        display: none;
      }
    tr {
      margin-bottom: 15px;
    }
    td {
      text-align: right;
      position: relative;
      padding-left: 50%;
    }
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }
  }