/* You can add global styles to this file, and also import other style files */
.center-text {
    text-align: center;
}

.panel {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 2rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

input.ng-invalid.ng-touched {
    border-color: red;
  }